src/main/resources/xsd/metadata.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://musicbrainz.org/ns/mmd-2.0#" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="metadata">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="recording-list">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="recording" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="title"/>
                                        <xs:element type="xs:int" name="length"/>
                                        <xs:element name="artist-credit">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="name-credit" maxOccurs="unbounded" minOccurs="0">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="artist">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element type="xs:string" name="name"/>
                                                                            <xs:element type="xs:string" name="sort-name"/>
                                                                            <xs:element type="xs:string" name="disambiguation" minOccurs="0"/>
                                                                            <xs:element name="alias-list">
                                                                                <xs:complexType>
                                                                                    <xs:sequence>
                                                                                        <xs:element name="alias" maxOccurs="unbounded" minOccurs="0">
                                                                                            <xs:complexType>
                                                                                                <xs:simpleContent>
                                                                                                    <xs:extension base="xs:string">
                                                                                                        <xs:attribute type="xs:string" name="sort-name" use="optional"/>
                                                                                                        <xs:attribute type="xs:short" name="begin-date" use="optional"/>
                                                                                                    </xs:extension>
                                                                                                </xs:simpleContent>
                                                                                            </xs:complexType>
                                                                                        </xs:element>
                                                                                    </xs:sequence>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                        <xs:attribute type="xs:string" name="id" use="optional"/>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                            <xs:attribute type="xs:string" name="joinphrase" use="optional"/>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="release-list">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="release" maxOccurs="unbounded" minOccurs="0">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element type="xs:string" name="title"/>
                                                                <xs:element type="xs:string" name="status"/>
                                                                <xs:element name="artist-credit">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element name="name-credit" maxOccurs="unbounded">
                                                                                <xs:complexType>
                                                                                    <xs:sequence>
                                                                                        <xs:element name="artist">
                                                                                            <xs:complexType>
                                                                                                <xs:sequence>
                                                                                                    <xs:element type="xs:string" name="name"/>
                                                                                                    <xs:element type="xs:string" name="sort-name"/>
                                                                                                </xs:sequence>
                                                                                                <xs:attribute type="xs:string" name="id" use="optional"/>
                                                                                            </xs:complexType>
                                                                                        </xs:element>
                                                                                    </xs:sequence>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                                <xs:element name="release-group">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element type="xs:string" name="primary-type"/>
                                                                            <xs:element name="secondary-type-list">
                                                                                <xs:complexType>
                                                                                    <xs:sequence>
                                                                                        <xs:element type="xs:string" name="secondary-type"/>
                                                                                    </xs:sequence>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                        <xs:attribute type="xs:string" name="id" use="optional"/>
                                                                        <xs:attribute type="xs:string" name="type" use="optional"/>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                                <xs:element type="xs:string" name="date"/>
                                                                <xs:element type="xs:string" name="country"/>
                                                                <xs:element name="release-event-list">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element name="release-event">
                                                                                <xs:complexType>
                                                                                    <xs:sequence>
                                                                                        <xs:element type="xs:string" name="date"/>
                                                                                        <xs:element name="area">
                                                                                            <xs:complexType>
                                                                                                <xs:sequence>
                                                                                                    <xs:element type="xs:string" name="name"/>
                                                                                                    <xs:element type="xs:string" name="sort-name"/>
                                                                                                    <xs:element name="iso-3166-1-code-list">
                                                                                                        <xs:complexType>
                                                                                                            <xs:sequence>
                                                                                                                <xs:element type="xs:string" name="iso-3166-1-code"/>
                                                                                                            </xs:sequence>
                                                                                                        </xs:complexType>
                                                                                                    </xs:element>
                                                                                                </xs:sequence>
                                                                                                <xs:attribute type="xs:string" name="id" use="optional"/>
                                                                                            </xs:complexType>
                                                                                        </xs:element>
                                                                                    </xs:sequence>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                                <xs:element name="medium-list">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element type="xs:byte" name="track-count"/>
                                                                            <xs:element name="medium">
                                                                                <xs:complexType>
                                                                                    <xs:sequence>
                                                                                        <xs:element type="xs:byte" name="position"/>
                                                                                        <xs:element type="xs:string" name="format"/>
                                                                                        <xs:element name="track-list">
                                                                                            <xs:complexType>
                                                                                                <xs:sequence>
                                                                                                    <xs:element name="track">
                                                                                                        <xs:complexType>
                                                                                                            <xs:sequence>
                                                                                                                <xs:element type="xs:byte" name="number"/>
                                                                                                                <xs:element type="xs:string" name="title"/>
                                                                                                                <xs:element type="xs:int" name="length"/>
                                                                                                                <xs:element name="artist-credit" minOccurs="0">
                                                                                                                    <xs:complexType>
                                                                                                                        <xs:sequence>
                                                                                                                            <xs:element name="name-credit" maxOccurs="unbounded" minOccurs="0">
                                                                                                                                <xs:complexType>
                                                                                                                                    <xs:sequence>
                                                                                                                                        <xs:element name="artist">
                                                                                                                                            <xs:complexType>
                                                                                                                                                <xs:sequence>
                                                                                                                                                    <xs:element type="xs:string" name="name"/>
                                                                                                                                                    <xs:element type="xs:string" name="sort-name"/>
                                                                                                                                                    <xs:element type="xs:string" name="disambiguation" minOccurs="0"/>
                                                                                                                                                    <xs:element name="alias-list">
                                                                                                                                                        <xs:complexType>
                                                                                                                                                            <xs:sequence>
                                                                                                                                                                <xs:element name="alias" maxOccurs="unbounded" minOccurs="0">
                                                                                                                                                                    <xs:complexType>
                                                                                                                                                                        <xs:simpleContent>
                                                                                                                                                                            <xs:extension base="xs:string">
                                                                                                                                                                                <xs:attribute type="xs:string" name="sort-name" use="optional"/>
                                                                                                                                                                                <xs:attribute type="xs:short" name="begin-date" use="optional"/>
                                                                                                                                                                            </xs:extension>
                                                                                                                                                                        </xs:simpleContent>
                                                                                                                                                                    </xs:complexType>
                                                                                                                                                                </xs:element>
                                                                                                                                                            </xs:sequence>
                                                                                                                                                        </xs:complexType>
                                                                                                                                                    </xs:element>
                                                                                                                                                </xs:sequence>
                                                                                                                                                <xs:attribute type="xs:string" name="id" use="optional"/>
                                                                                                                                            </xs:complexType>
                                                                                                                                        </xs:element>
                                                                                                                                    </xs:sequence>
                                                                                                                                    <xs:attribute type="xs:string" name="joinphrase" use="optional"/>
                                                                                                                                </xs:complexType>
                                                                                                                            </xs:element>
                                                                                                                        </xs:sequence>
                                                                                                                    </xs:complexType>
                                                                                                                </xs:element>
                                                                                                            </xs:sequence>
                                                                                                            <xs:attribute type="xs:string" name="id" use="optional"/>
                                                                                                        </xs:complexType>
                                                                                                    </xs:element>
                                                                                                </xs:sequence>
                                                                                                <xs:attribute type="xs:byte" name="count" use="optional"/>
                                                                                                <xs:attribute type="xs:byte" name="offset" use="optional"/>
                                                                                            </xs:complexType>
                                                                                        </xs:element>
                                                                                    </xs:sequence>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                            <xs:attribute type="xs:string" name="id" use="optional"/>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="isrc-list">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="isrc">
                                                        <xs:complexType>
                                                            <xs:simpleContent>
                                                                <xs:extension base="xs:string">
                                                                    <xs:attribute type="xs:string" name="id"/>
                                                                </xs:extension>
                                                            </xs:simpleContent>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="tag-list">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="tag" maxOccurs="unbounded" minOccurs="0">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element type="xs:string" name="name"/>
                                                            </xs:sequence>
                                                            <xs:attribute type="xs:byte" name="count" use="optional"/>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute type="xs:string" name="id"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute type="xs:short" name="count"/>
                        <xs:attribute type="xs:byte" name="offset"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:dateTime" name="created"/>
        </xs:complexType>
    </xs:element>
</xs:schema>